<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>165191797199-uo3o60bmiv2snbk2lh0e5q1o9leqammr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.165191797199-uo3o60bmiv2snbk2lh0e5q1o9leqammr</string>
	<key>API_KEY</key>
	<string>AIzaSyClr1L71OPV_0MQwiUtYo3VoIsx_b2cS_E</string>
	<key>GCM_SENDER_ID</key>
	<string>165191797199</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.seramcepte</string>
	<key>PROJECT_ID</key>
	<string>doxif-2a9f5</string>
	<key>STORAGE_BUCKET</key>
	<string>doxif-2a9f5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:165191797199:ios:6d162c0cdcb8e9e008aaba</string>
	<key>DATABASE_URL</key>
	<string>https://doxif-2a9f5-default-rtdb.firebaseio.com</string>
</dict>
</plist>